# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels de développement local
.venv/
venv/
ENV/
env/

# Fichiers de configuration locale (contenant des clés de test)
.env
.env.local

# Fichiers systèmes OS
.DS_Store
Thumbs.db
desktop.ini

# Fichiers d'éditeurs de code
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
